@model IEnumerable<Product>
@{
    ViewData["Title"] = "Home Page";

}
<link rel="stylesheet" href="~/css/AllProduct.css">


<div class="text-center">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Все
        </button>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

            <button class="dropdown-item"  onclick="javascript: document.location = 'Home/Filter/Футболка'">Футболки</button>

            <button class="dropdown-item" onclick="javascript: document.location = 'Home/Filter/Шапка'">Шапки</button>

            <button class="dropdown-item" onclick="javascript: document.location = 'Home/Filter/Маска'">Маски</button>

            <button class="dropdown-item" onclick="javascript: document.location = 'Home/Filter/Шорты'">Шорты</button>

            <button class="dropdown-item" onclick="javascript: document.location = 'Home/Filter/Носки'">Носки</button>
        </div>
    </div>
    <h1 class="display-4">Shop</h1>
    <div class="allProd">
        @foreach (var product in Model)
        {

            <div class="ProductUnit" onclick="javascript: document.location = 'Home/Product/@product.Id'">

                <span class="ProductName">@product.Name</span>

                <img src="@product.Photos?.First()?.source" width="250px" height="auto" />

                <span>@product.Type</span>
                <span>Размер: @product.Size</span>

                <span>@product.Price &#8372;</span>

            </div>
        }
    </div>
</div>
