@{
    var Product = ViewData["Product"] as Product;
    var Photos = ViewData["Photos"] as List<Photo>;
}

<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="~/css/Product_stile.css">
    <meta name="viewport" content="width=device-width" />
    <title>@Product.Name</title>
</head>

<script>

    function SelectPhoto(element) {

        document.getElementById("Main_Photo").src = element.src;

    }

    function AddToCart(id) {
        if (getCookie("p1") != -1) {

            let i = 1;

            while (true) {

                if (getCookie(("p" + i)) == -1) {
                    document.cookie = "p" + i + "=" + id + "; path=/;";
                    break;
                }
                else i++;
               
            }

        }
        else {
            document.cookie = "p1" + "=" + id + "; path=/;";
        }
    }

    function getCookie(name) {
        let cookie = " " + document.cookie;
        let search = " " + name + "=";
        let setStr = null;
        let offset = 0;
        let end = 0;
        if (cookie.length > 0) {
            offset = cookie.indexOf(search);
            if (offset != -1) {
                offset += search.length;
                end = cookie.indexOf(";", offset)
                if (end == -1) {
                    end = cookie.length;
                }
                setStr = unescape(cookie.substring(offset, end));
            }
            else {
                return -1;
            }
        }
        else {
            return -1;
        }
        return (setStr);
    }

</script>

<h1>@Product.Name</h1>
<div class="Product_container">

    

    <div class="Images">
        <!-- <input type="button" id="ButtonPrev" value="<" onclick="PrevClick()" />-->


        <img class="First_img" id="Main_Photo" src="@Photos[0].source" asp-append-version="true" />

        <div class="Image_container">
            @for (int i = 0; i < Photos.Count; i++)
            {
                <img class="Product_img" id="Photo_@i" onclick="SelectPhoto(this)" src="@Photos[i].source" asp-append-version="true" />
            }
        </div>

        <!--<input type="button" id="ButtonNext" value=">" onclick="NextClick()" />-->
    </div>

        <div class="Product_info">

            <div class="PriceContainer">
                <span style="margin-right: 10px">Coast</span> 
                <span class="Price">@Product.Price &#8372;</span>
                <button class="BuyButton" onclick="AddToCart(@Product.Id)">Купить</button>
            </div>

            <div class="Product_description">@Product.Description</div>

            <div>@Product.Type</div>

            <div>Материал: @Product.Material</div>

            <div>Размер: @Product.Size</div>

            <div>Цвет: @Product.Color</div>

        </div>

    </div>

    
